*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: times new roman;
}
h1{
    font-size: 40px;
    color: white !important;
    margin-top: 250px;
}
p{
    font-size: 17px;
    color: white;
}
h3{
    font-size: 25px;
    color: white !important;
}
.glyphicon-pencil{
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 20px;
}
.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background-size: rgba(0,0,0,0.4);
}
.label{
    font-weight: normal;
    margin-top: 15px;
    color: white !important;
    font-size: 19px;
}
.form-control{
    background: transparent;
    background-repeat: 0;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: white !important;
}
